<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login_form</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="../static/css.css">

</head>
<body>
   
<div class="form-container">

   <form action="" method="post">
      <h3>Connectez-vous</h3>

      <input type="email" name="email" required placeholder="saisir votre e-mail">
      <input type="password" name="password" required placeholder="saisir votre mot de passe">
      <input type="submit" name="submit" value="connexion" class="form-btn">
      <p>Vous n'avez pas encore un compte ? <a href="register_form.php">Barrez vous</a></p>
   </form>

</div>
</body>
</html>